/* Container Global */
body{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}


.container{
    max-width: 1440px;
    padding: 0px;
}



/* Font-Face */
@font-face {
    font-family: "araboto-light";
    src: url("Fuentes/Araboto_Light_400.ttf");
}

@font-face {
    font-family: "araboto-normal";
    src: url("Fuentes/Araboto_Normal.ttf");
}

.araboto-light{
    font-family: "araboto-light";
}

.araboto-normal{
    font-family: "araboto-normal";
}
/* Responsive */
@media only screen and (max-width: 1100px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  

    h2{
        font-size: 20px;
    }

    .txt18{
        font-size: 13px!important;
    }

    .txtIva{
        font-size: 8px!important;
    }

    .codigoText{
        font-size: 13px;
    }

    .card-title{
        font-size: 14px;
    }
    
    .card-text{
        font-size: 10px;
    }

    input::placeholder{
       font-size: 13px;
    }





}


@media only screen and (max-width: 970px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  

    .boxCodigo{
        display: none;
    }

    .boxNoneMargin{
        margin: 0px!important;
    }

    .boxResumen{
        margin-top: 20px!important;
    }

    .aceptamos img{
        display: none;
    }


    .codigoText{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }

    


}
/* Configuracion Basica */
.row p{
    margin-bottom: 0rem;
}

.align-left{
    text-align: end;
}

.d-flex{
    padding: 0px;
}

.border{
    border: solid 1px;
    border-radius: 10%;
}

.border-right{
    border-right: solid 1px;
}

/* Diseño */

.backgroundGrey{
    background-color: white;
}


/* Font-size Global */
.txt32{
    font-size: 32px;
}

.txt21{
    font-size: 21px;
}

.txt18{
    font-size: 18px;
    font-weight: bold;
    
}
.txt24{
    font-size: 24px;
    font-family: "araboto-normal";
}

.txt15{
    font-size: 15px;
    font-family: "araboto-normal";
}

.txt14{
    font-size: 14px;
}

.txtRed{
    color: #DD1E35;
}


.txt13{
    font-size: 13px;
    color: #D2D2D2;
}

.txt12{
    font-size: 12px;
}

/* Textos */
.txtIva{
    margin-left: 5px;
    color: #989898;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    vertical-align: top;
}

.txtCountCarrito{
    margin-left: 5px;
    color: #989898;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    vertical-align: top;
}



/*Botton de Añadir*/
.btn-primary{
    background-color: #F5B027;
    border-style: none;
}

.btn-primary:hover{
    background-color: #FFC22B;
}


/* Caja de Informacion Carrito */

.rowCarrito{
    margin: 0%;
    padding: 0px;
    background-color: #f2f2f2;
}

.row .carritoCol12{
    margin: 0%;
    padding: 0%;
}

.row .col-4{
    margin: 0%;
    padding-left: 0px;
    padding-right: 0px;
}

.row .decoracionCarrito a{
    color: black;
}

.row .btn:hover{
    background-color: #FFC22B;
}

.radiusBorder{
    border-radius: 5%;
    border-style: none;
    border: solid 0.5px;
    background-color: white;
    color: grey;
}

.aceptamos img{
    height: auto;
    width: 100%;
}

.prueba{
    width: 1px;
    height: 1000px;
}

/* Cambios */
.boxDerecha{
    display: none;
}
