
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
}

@font-face {
    font-family: "araboto-light";
    src: url("Fuentes/Araboto_Light_400.ttf");
}

@font-face {
    font-family: "araboto-normal";
    src: url("Fuentes/Araboto_Normal.ttf");
}

:root{
    --texto-12: 12px;
}


.container{
    padding: 0px;
    max-width: 1440px;
}


/*Texto textosCabecera*/
.textosCabecera{
    margin-left: 58px;
}

.textosCabecera > .categoria p{
    font-size: var(--texto-12);
    margin: 0px;
}

.textosCabecera > .carta h2{
    font-size: 27px;
    font-family: "araboto-light" ;
}
/*Sub Textocabecera*/
.border{
    border: 1px solid;
    box-shadow: 0px 1px 1px #9d9a8c;
}

.alturaBox{
    height: 350px;
    border-bottom: 1px solid;
}

.cajaDescripcion{
    height: 50%;
    border: 1px solid;
    border-color: #9d9a8c;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0%;
    padding: 0%;
}


.txt24{
    font-size: 24px;
    font-family: "araboto-normal";
}

.txt15{
    font-size: 15px;
    font-family: "araboto-normal";
}

.txt13{
    font-size: 13px;
    color: #D2D2D2;
}

.txt12{
    font-size: 12px;
}

.btn-primary{
    background-color: #F5B027;
}


.descripcionSub2{
    border-bottom: 1px solid;
    border-color: #9d9a8c;
}


.descripcionSub1{
    border-right: 1px solid;
    border-color: #9d9a8c;
    font-size: 12px;

}

.descripcionSub1 .negrita{
    font-weight: bold;
}

.verde{
    color: #6A9D47;
}

.negro{
    color: black;
    font-family: "araboto-normal";
}

.row{
    margin: 0px;
    padding: 0px;
}

.greyColor{
    background-color: #D2D2D2;
}

.bordeBottom{
    border-bottom: 1px solid;
}

.cajaUltimoProductos{
    margin: 0px;
    padding: 0px;
}

.card{
    border-style: none;
    border-radius: 0%;
}

.borderSolid{
    border-top: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-color: #D2D2D2;
}