/* Container Global */

/* Font-Face */

/* Configuracion basico */
.row{
    padding: 0px;
    margin: 0px;
    
}


.noMarginBottom {
    margin-bottom: 0!important;
}


.marginSelector {
    margin: 50px auto;
}

/* Caja de Informacion */
.miInformacion{
    font-size: 28px;
}

.boxInformacion{
    width: 100%;

}

/* Diseño */

.backgroundGrey{
    background-color: #f2f2f2;
}


/* LI, UL, OL */
.tabList {
    border-bottom: 1px solid #d8d8d8;
    height: auto;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.tabList li.selected:hover, .tabList li:focus, .tabList li:hover {
    border-bottom: 1px solid #232323;
    color: #232323;
}


.tabList li {
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    display: inline-block;
    line-height: 24px;
    margin-right: 3.33335em;
    cursor: pointer;
    color: #989898;
    font-size: 1.25em;
    width: 400px;
}

/* Button, Input */
input{
    width: 100%;
    border: none;
}


/* Table */
table{
    text-align: center;
    
}

label{
    border-bottom: 2px solid;
    margin-top: 10px;
    margin-bottom: 10px;
}


td{
    width: 234px;
    height: 50.5px;
}