
/* Configuracion basico */
.row{
    padding: 0px;
    margin: 0px;
    
}


.noMarginBottom {
    margin-bottom: 0!important;
}


.marginSelector {
    margin: 50px auto;
}

.float-left{
    float: left;
}

.border-left{
    border-left: 5px solid #4bc7e1;
}
/* Caja de Informacion */
.miInformacion {
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    font-size: 28px;
}
.boxInformacion{
    width: 100%;

}

.miInformacionDatos {
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    font-size: 22px;
}

/* Diseño */

.backgroundGrey{
    background-color: #f2f2f2;
}


/* LI, UL, OL */
.tabList {
    border-bottom: 1px solid #d8d8d8;
    height: auto;
    padding: 8px;
    padding-left: 0px;
    font-size: 14px;
}

.tabList a{
   color: #9d9a8c;
}

.tabList a:hover {
    color: #232323;
    border-bottom: 10px solid #232323;
 }


ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.tabList li {
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    display: inline-block;
    line-height: 24px;
    margin-right: 3.33335em;
    cursor: pointer;
    color: #989898;
    font-size: 1.25em;
    width: 400px;
}

/* Button, Input */
input{
    width: 100%;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
}


/*Botton de Añadir*/
.btn-primary{
    background-color: #F5B027;
    border-style: none;
}

.btn-primary:hover{
    background-color: #FFC22B;
}

/* Table */
table{
    text-align: center;
    
}

label{
    margin-top: 20px;
}


td{
    width: 234px;
    height: 50.5px;
}
