body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.container{
    padding: 0px;
    max-width: 100%;
}

@font-face {
    font-family: "araboto-light";
    src: url("Fuentes/Araboto_Light_400.ttf");
}

@font-face {
    font-family: "araboto-normal";
    src: url("Fuentes/Araboto_Normal.ttf");
}

@media only screen and (max-width: 825px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  

}