

/* Font-Face */

@font-face {
    font-family: "araboto-light";
    src: url("/GamingShop/Fuentes/Araboto_Light_400.woff");
}

@font-face {
    font-family: "araboto-normal";
    src: url("/GamingShop/Fuentes/Araboto_Normal_400.ttf");
}

.araboto-normal{
    font-family: "araboto-normal";
}


.araboto-light{
    font-family: Roboto,Arial, Helvetica, Tahoma,sans-serif;
}
/* Textos */
.txt8{
    font-size: 8px;
}

.txt11{
    font-size: 11px;
}

.txt13{
    font-size: 13px;
}

.txt14{
    font-size: 14px;
}

.txt15{
    font-size: 15px;
}

.txt16{
    font-size: 16px;
}

.txt18{
    font-size: 18px;
}

.txt19{
    font-size: 19px;
}

.txt21{
    font-size: 21px;
}

.txt54{
    font-size: 54px;
}

.txt48{
    font-size: 48px;
}

.txt20{
    font-size: 20px;
}

.txt24{
    font-size: 24px;
}

.txt32{
    font-size: 32px;
}
/* Font weight */
.fw700{
    font-weight: 700;
}