/* Contenidor Globar */
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.container{
    padding: 0px;
    max-width: 1440px;
}

/* Botones */


/* Border */
.borderLeft{
    border-left: 1px solid;
}

.borderRight{
    border-right: 1px solid;
}

.noBorderTop{
    border-top: none!important;
}

.noBorderLeft{
    border-left: none!important;
}

.noBorderRight{
    border-right: none!important;
}
/* border_color */
.bd-f4f{
    border-color: #f4f4ed;
}

.bd-d8d{
    border-color: #d8d8d8;
}

/* Margin & Padding */
.padding30{
    padding: 30px;
}

.noPaddingBottom{
    padding-bottom: 0!important;
}


.noMarginBottom{
    margin-bottom: 0;
}

.marginRight20{
    margin-right: 20px!important;
}

.marginTop30{
    margin-top: 30px!important;
}

.marginBot16{
    margin-bottom: 16px!important;
}
/* Styles de a y listas */
li{
    list-style: none;
}

a{
    text-decoration: none;
}



/* Espaciado */
.espacioLetter2{
    letter-spacing: 2px!important;
}

/* Backgrounds */
.bg-white{
    background-color: white;
}

/*Botton de Añadir*/
.btn-primary{
    background-color: #F5B027;
    border-style: none;
}

.btn-primary:hover{
    background-color: #FFC22B;
}
