/* Container Global */
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.container{
    max-width: 1440px;
    padding: 0px;
    margin: 0px;
}

/* font-faces */
@font-face {
    font-family: "araboto-light";
    src: url("Fuentes/Araboto_Light_400.ttf");
}

@font-face {
    font-family: "araboto-normal";
    src: url("Fuentes/Araboto_Normal_400.ttf");
}

.araboto-light{
    font-family: "araboto-light";
}

.araboto-normal{
    font-family: "araboto-normal";
}


/* Responsives */

@media only screen and (max-width: 800px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  

    .txt14{
        font-size: 10px!important;
    }
}


/* Font-size Global */

.txt14{
    font-size: 14px;
}

.txt12{
    font-size: 12px;
}

.weight700{
    color: #303030!important;
    font-size: 12px!important;
    font-weight: 700!important;
}


/* Diseño */
.col-12 .marginNoneBottom{
    padding-bottom: 0px;
    padding-top: 0px;
}

.marginNone{
    padding-bottom: 0px;
}

.marginNoneTop{
    padding-top: none;
}

/* Button, Input */
.btnStyle{
    width: 100%;
    height: 100%;
}

input:focus{
    outline: none;
}
input{
    border: none;
}

::placeholder{
    font-style: italic!important;
    padding-left: 10px!important;
    font-size: 15px!important;
}

/* Enlaces */

.noDecoration a{
    text-decoration: none;
    color: black;
}


.buscarCss{
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    width: 80%; 
    height: 40px;
}

/* Caja de Informacion */
.menu1{
    width: 100%;
    height: 40px;
}

.menu1 a{
    text-decoration: none;
    color: black;
    font-size: 100%;
    margin-left: 4.2%;
    opacity: 0.9;
}


/* Img */
.imgCss img{
    width: 50px;
    height: 22px;
    padding-bottom: 5%;
    padding-left: 40%!important;
    margin-right: 20px!important;
}

.marginLeftIcono > img{
    margin-right: 10px!important;
}

.marginLeftIcono{
    margin-left: 72px;
}

#accebilidad{
    width: 30px;
    height: 22px;
    padding: 0%;

}

/* LI, UL, OL */
.menu1 li{
    display: flex;
}

.menu1 ul{
    float: right;
    width: 700px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.menu2{
    width: 100%;
}

.menu2 ul{
    width: 100%;
    height: 64px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu3{
    width: 100%;
}


.menu3 ul{
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Contador Carrito */
.contadorCarrito{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
}

.contadorCarrito p{
    color: white;
    font-size: 15px;
}

.boxCarrito:hover{
    border: solid 1px;
    border-radius: 10px 10px 10px 10px;
    border-color: #D8D8D8;
}

.boxCarrito{
    border: solid 1px;
    border-radius: 10px 10px 10px 10px;
    border-color: white;
}