body{
    width: 1423px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.container{
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.menu1{
    margin-top: 1%;
    width: 100%;
    height: 40px;
}

.menu1 a{
    text-decoration: none;
    color: black;
}

.imgCss img{
    width: 30px;
    height: 15px;
}

.menu1 li{
    display: flex;
}

#accebilidad{
    width: 18px;
    height: 22px;
    padding: 0%;

}

.menu1 ul{
    float: right;
    width: 700px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

.menu2{
    width: 100%;
}

.menu2 ul{
    width: 100%;
    height: 64px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu3{
    width: 100%;
}


.menu3 ul{
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

