
body{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: "araboto-light";
    src: url("Fuentes/Araboto_Light_400.ttf");
}

@font-face {
    font-family: "araboto-normal";
    src: url("Fuentes/Araboto_Normal.ttf");
}

.araboto-light{
    font-family: "araboto-light";
}

.noticias .font-m{
    font-size: 25px;
}


@media only screen and (max-width: 740px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  
    
    .col-4{
        margin-top: 3%;
    }

    .elegidaPorTi  .card-text{
        font-size: 6px;
    }

    .noticias  .card-text{
        font-size: 6px;
    }

    .elegidaPorTi .card-title{
        font-size: 10px;
    }

    .noticias .card-title{
        font-size: 10px;
    }

    .noticias .font-m{
        font-size: 17px;
    }

    .noticias a{
        font-size: 7px;
    }

    .elegidaPorTi li{
        font-size: 10px;
    }
    .col-md-2{
        height: 300px;
    }

    .noticias .row{
        height: 300px;
    }


}、

img {
    width: 100%;
    height: auto; /* Ajusta la altura según tus necesidades */
    margin-right: 10px; /* Agrega margen derecho entre las imágenes si es necesario */
  }

.container{
    padding: 0px;
    max-width: 1440px;
}

.marginNone{
    padding: 0px;
    margin: 0px;
}


.row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.EstiloTexto{
    margin-top: 3%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 27px;
}

.EstiloTexto2{
    margin-top: 3%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 27px;
}

.card{
    margin-top: 5%;
    border-style: none;
}

.flexProductos .card-body{
    box-shadow: 1px 1px 10px #9d9a8c;
    border-radius: 0px 0px 10px 10px;
    height: 90px;
}

.container{
    width: 100%;

}

:root{
    --texto-12: 12px;
}


.probar{
    height: 100px;
    width: 100%;
    background-color: rebeccapurple;
}

/*Carousels*/
.carousel-item  img{
    width: 100%;
    height: 270px;
    
}

.carousel-control-next{
    width: 100px;
}

.carousel-control-prev{
    width: 100px;
}




/*Contexto bajo carousel*/
.estiloP{
    display: flex;
    align-items: center;
    height: 74.84px;
    background-color: black;
    color: white;
}




/*Para Separador*/
.separador{
    height: 35px;
    background-color: white;
    width: 100%;
}


/*Class conjunto Productos Categorias*/

.flexProductos{
    margin-left: 20px;
    margin-right: 40px;
}

/*Productos Destacadas*/
.destacadas{
    height: 100%;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #D8D8D8;
}


.card > .divFoto{
    background-color: grey;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.flexProductos .card .divFoto img{
    width: 70%;
}

/*Nuevas*/
.nuevas{
    height: 100%;
    width: 100%;
}


/*Separador2*/
.separador2{
    height: 135px;
    width: 100%;
}

/*Elegida por ti*/
.elegidaPorTi{
    height: 100%;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #D8D8D8;
}

.estiloPTitle{
    margin-left: 42px;
}

.elegidaPorTi > .TextoElegidoPorTi{
    height: 100%;
    width: 100%;
}

.elegidaPorTi > .carousel > .carousel-inner > .carousel-item{
    width: 33.33%;
    height: 100%;
}

.elegidaPorTi .row .card{
    border-radius: 0%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #D8D8D8;
}

.elegidaPorTi .row *{
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right:  0%;
}


.elegidaPorTi > .marginElegida{
    margin-left: 40px;
}



/*Noticias*/

.noticias .row{
    border-style: none;
    padding-left: 3%;
    padding-right: 2%;
}

.noticias .card-title{
    color: #F5B027;
}

.noticias .card-text{
    color: white;
}

.noticias .card{
    border-radius: 0%;
}

.noticias .text-end a{
    text-decoration: none;
    color: #F5B027;
}

