
body{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
}

@font-face {
    font-family: "araboto-light";
    src: url("Fuentes/Araboto_Light_400.ttf");
}

@font-face {
    font-family: "araboto-normal";
    src: url("Fuentes/Araboto_Normal.ttf");
}

.araboto-light{
    font-family: "araboto-light";
}

.araboto-normal{
    font-family: "araboto-normal";
}

.noticias .font-m{
    font-size: 25px;
}




@media only screen and (max-width: 1000px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  
    

    .card-textP{
        font-size: 14.5px!important;
    }


    .elegidaPorTi .card-title{
        font-size: 15px;
    }

    .noticias .card-title{
        font-size: 10px;
    }

    .elegidaPorTi .list-group-item{
        color: #DD1E35; 
        font-size: 20px;
        font-weight: 700;
    }
    

    .noticias .font-m{
        font-size: 17px;
    }

    .noticias a{
        font-size: 7px;
    }

    .elegidaPorTi li{
        font-size: 10px;
    }

    .noticias .row{
        height: 100%;
    }

    .col-4 {
        margin-top: 0%;
    }

    .estiloP p{
        font-size: 10px;
    }

    .estiloP .noEstiloP p{
        font-size: 5px;
        color: #D8D8D8;
    }

    .estiloP img{
        max-height: 30px;
        max-width: 390px;
    }
    

}

img {
    width: 100%;
    height: auto; /* Ajusta la altura según tus necesidades */
    margin-right: 10px; /* Agrega margen derecho entre las imágenes si es necesario */
  }

.container{
    padding: 0px;
    max-width: 1440px;
}

.marginNone{
    padding: 0px;
    margin: 0px;
}


.row{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.EstiloTexto{
    margin-top: 2%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 27px;
    font-weight: 300;
    padding-left: 30px;
}

.EstiloTexto2{
    margin-top: 2%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 27px;
    font-weight: 300;
    padding-left: 30px;
}
.EstiloTexto2 p{
    margin-bottom: 0px;
}

.estiloPTitle{
    padding-left: 30px;
    margin-left: 30px;
}

.card{
    margin-top: 5%;
    border-style: none;

}

.cajaBajo{
    height: 76.33px;
}



.flexProductos .card-body{
    box-shadow: 0 0 12px rgba(0,0,0,.05), 0 5px 8px 0 rgba(0,0,0,.05), 0 2px 4px 0 rgba(0,0,0,.05);
    border-radius: 0px 0px 10px 10px;
    height: 60px;
}

:root{
    --texto-12: 12px;
}


.probar{
    height: 100px;
    width: 100%;
    background-color: rebeccapurple;
}

/*Carousels*/
.carousel-control-next{
    width: 100px;
}

.carousel-control-prev{
    width: 100px;
}

.buttonBox{
    height: 270px;
    width: 50%;
}

.buttonBox input{
    background-color: black;
    color: white;
    border-color: white;
}
.buttonBox input:hover{
    background-color: white;
    color: black;
}


/**/

/*Botton de Añadir*/
.btn-primary{
    background-color: #F5B027;
    border-style: none;
}

.btn-primary:hover{
    background-color: #FFC22B;
}




/*Contexto bajo carousel*/
.estiloP{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: black;
    color: white;
}

.border-end{
    border-color: #5f5f5f!important;
}

.estiloP p{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0%;
}

.noEstiloP p{
    font-size: 10px;
    color: #D8D8D8;
}

.estiloP img{
    height: 50px;
    width: 50px;
    margin-left: 15px;
}


/*Para Separador*/
.separador{
    height: 35px;
    background-color: white;
    width: 100%;
}


/*Class conjunto Productos Categorias*/

.flexProductos{
    margin-left: 20px;
    margin-right: 40px;
}

/*Productos Destacadas*/
.destacadas{
    height: 100%;
    width: 100%;
}


section{
    border-bottom: 1px solid;
    border-color: #D8D8D8;
}

.card > .divFoto{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: #EDEDED;
}


.fotoMain img{
    height: 190px;
}

.flexProductos .card .divFoto img{
    width: 50%;
    height: 100%;
    transition: transform 0.3s;
}


.card > .divFoto .zoomOn:hover{
    transform: scale(1.1);
}

.flexProductos .card .divFoto .tret img{
    height: 50%;
    width: 100%;
}




/*Nuevas*/
.nuevas{
    height: 100%;
    width: 100%;
}


/*Separador2*/
.separador2{
    height: 135px;
    width: 100%;
}

/*Elegida por ti*/
.elegidaPorTi{
    height: 100%;
    width: 100%;
}



.elegidaPorTi > .TextoElegidoPorTi{
    height: 100%;
    width: 100%;
}

.elegidaPorTi > .carousel > .carousel-inner > .carousel-item{
    width: 33.33%;
    height: 100%;
}

.elegidaPorTi .row .card{
    border-radius: 0%;
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: #D8D8D8;
}

.elegidaPorTi .row *{
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right:  0%;
}


.elegidaPorTi > .marginElegida{
    margin-left: 40px;
}

.list-group-item{
    color: #DD1E35; 
    font-size: 20px;
    font-weight: 700;
}

.card-textP{
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
}




/*Noticias*/

.noticias .row{
    border-style: none;
    padding-left: 3%;
    padding-right: 2%;
}

.noticias .card-title{
    color: #F5B027;
}

.noticias .card-text{
    color: white;
}

.noticias .card{
    border-radius: 0%;
}

.noticias .text-end a{
    text-decoration: none;
    color: #F5B027;
}

.noticias .subrallar:hover .font-m{
    text-decoration: underline;
    cursor: pointer;
}

.greyGround{
    background-color: #d2d2d2;
    max-width: 100%;
    height: 100%;
    text-align: center;
}
