
/* Responsive */

@media only screen and (max-width: 825px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  

}


/* Configuracion Basico */
.row{
    padding: 0px;
    margin: 0px;
}

.separador{
    height: 90px;
}

.topMarginBoton{
    padding-top: 35px;
}

/* Diseño */

.greyBackground{
    background-color: #f2f2f2;
}

/* Caja de Informacion */

.containerRegistro{
    height: 450px;
    width: 480px;
    background-color: white;
}

.containerRalla {
    text-align: center;
    position: relative;
    z-index: 1;
}

.containerRalla:before {
    border-top: 1px solid #d8d8d8;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}


/* Button, Input */
input{
    border: 0px;
    border-bottom: 1px solid #989898;
    outline: none;
}

input::placeholder{
    font-style:normal;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 400px;
}




.button {
    height: 42px;
    padding: 5px 10px;
    border: 0;
    appearance: none;
    background-color: #f5b027;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: Roboto,Lato,sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    transition: all 375ms;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button:hover{
    background-color: #FFC22B ;
}

.socialButton {
    height: 100%;
    background-color: transparent;
}

.button .apple {
    background-color: #232323;
    background-image: url("Materiales/CarritoIcono/apple.svg")!important;
}

.button .facebook {
    background-color: #3b5998;
    background-image: url("Materiales/CarritoIcono/faceb.svg")!important;
    color: #fff;
}

.button .google {
    background-color: #f2f2f2;
    background-image: url("Materiales/CarritoIcono/google.svg")!important;
    z-index: 1;
}

.socialIcon {
    width: 40px;
    height: 40px;
    background: no-repeat center;
    background-size: 18px;
    border-radius: 3px;
}


/* Textos */
.Titulo{
    margin-top: 60px;
    color: #232323;
    font-family: "Roboto", "Lato", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.3rem;
    text-align: center;
    margin-bottom: 8px;
}

.subTitulo{
    color: #5f5f5f;
    font-family: "Roboto", "Lato", sans-serif;
    font-size: 0.94rem;
    line-height: 1.3rem;
    text-align: center;
}

.textContainerGuio {
    background: #d7d7d7;
    padding: 12px 11px;
    border-radius: 50%;
    color: #5f5f5f;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.providerMessage {
    padding-top: 22px;
    font-size: 0.89rem;
    text-align: center;
    width: 260px;
    margin: auto;
}

