/* Container Global */
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.container{
    padding: 0px;
    max-width: 1440px;
}


/* Responsive */
@media only screen and (max-width: 825px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  

}

/* Configuracion Basico */

.row{
    padding: 0px;
    margin: 0px;
    
}


/* Diseños */
.backgroundGrey{
    background-color: #f2f2f2;
}

.noMarginBottom {
    margin-bottom: 0!important;
}

.marginSelector {
    margin: 50px auto;
}

/* Cajas de Informacion */

.miInformacion{
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    font-size: 28px;
}

.miInformacionDatos{
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.boxInformacion{
    width: 100%;
    
}

.pedidoColor{
    background-color: white;
    border-left: 5px solid #4bc7e1;
}

.boxInformacionTotal{
    padding: 70px;
}

.boxWidth{
    padding: 0 80px;
}

/* LI, UL, OL */

.tabList {
    border-bottom: 1px solid #d8d8d8;
    height: auto;
    padding: 8px;
    padding-left: 0px;
    font-size: 14px;
}

.tabList a{
   color: #9d9a8c;
}

.tabList a:hover {
    color: #232323;
    border-bottom: 10px solid #232323;
 }


ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabList li {
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    display: inline-block;
    line-height: 24px;
    cursor: pointer;
    color: #989898;
    font-size: 1.25em;
}

table{
    text-align: center;
    
}

th{
    border-bottom: 1px solid;
    border-color: #f2f2f2;
}


td{
    border-bottom: 1px solid;
    border-color: #f2f2f2;
}



/* Button, Input */
input{
    border-bottom: 2px solid;
    width: 100%;
}

.btn{
    background-color: #f5b027;
    color: white;
    width: 50%;
    float: left;
}

.btn:hover{
    background-color: #FFC22B;
    color: white;
}