
body{
    width: 1440px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
}


:root{
    --texto-12: 12px;
}

.container > .cajaMain{
    display: flex;
}

.container{
    max-width: 1440px;
}

.container > .row > .col-12{
    height: 107.7px;
}

/*Texto textosCabecera*/
.textosCabecera{
    margin-left: 58px;
}

.textosCabecera > .categoria p{
    font-size: var(--texto-12);
    margin: 0px;
}

.textosCabecera > .carta h2{
    font-size: 27px;
}

/*Sub Textocabecera*/
.h49{
    height: 49px;
}

.subCaja{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mosaico{
    display: flex;
    justify-content: center;
    align-items: center;
}

.relev img{
    width: 20px;
    height: 20px;
}