/* Contenidor Globar */
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.container{
    padding: 0px;
    max-width: 1440px;
}

/* Responsive */
@media only screen and (max-width: 900px) {
    body {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }  

    .boxInformacion{
        display: flex;
        flex-wrap: wrap;
    }

    .boxChange{
        width: 100%;
    }


}


/* Configuracion Basico */
.row{
    padding: 0px;
    margin: 0px;
    
}

.noMarginBottom {
    margin-bottom: 0!important;
}

.marginSelector {
    margin: 50px auto;
}



/* Configuracion de diseño */

.backgroundGrey{
    background-color: #f2f2f2;
}


/* Parte Cajas */
.miInformacion{
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    font-size: 28px;
}

.miInformacionDatos{
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.boxInformacion{
    width: 100%;
    padding: 70px;
    display: flex;
    justify-content: space-between;
}

.boxInformacionTotal{
    padding: 70px;
}


.adicionalBox{
    padding-bottom: 30px;
}

.adicionalInfo{
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
}

.adicionaInfo2{
    color: #989898;
    font-size: 11px;
}


.boxWidth{
    padding: 0 80px;
}

/* Li, UL, OL */

.tabList {
    border-bottom: 1px solid #d8d8d8;
    height: auto;
    padding: 8px;
    padding-left: 0px;
    font-size: 14px;
}

.tabList a{
   color: #9d9a8c;
}

.tabList a:hover {
    color: #232323;
    border-bottom: 10px solid #232323;
 }


ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.tabList li {
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-weight: 300;
    display: inline-block;
    line-height: 24px;
    cursor: pointer;
    color: #989898;
    font-size: 1.25em;
}

/* Input, Button */

input{
    border-bottom: 1px solid;
    border-color: #27a638;
    width: 100%;
}

.inputUser input{
    margin: 0px;
    padding: 0px;
}

.labelUser{
    font-size: 11px;
    color: #989898;
}

.selectStyle{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #27a638;
}

.btn{
    background-color: #f5b027;
    color: white;
}

.btn:hover{
    background-color: #FFC22B;
    color: white;
}
